<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div class="main-container">
        <header>
            <%- include('../partials/header') %>
            <%- include('../partials/navigation') %>
        </header>
        <main>
            <%- body %>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </div>
</body>
</html>
