<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>     
</head>
<body>
    <div class="main-container">
        <header>
            <%- include('../partials/header') %>
            <%- include('../partials/navigation') %>
        </header>
        <main>
            <%- body %>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </div>

    <% if (title === "Inventory Management") { %>
        <script src="/js/inventory.js"></script>
      <% } %>
      
      <% if (title === "Register") { %>
        <script src="/js/formValidation.js"></script>
      <% } %>      
</body>
</html>
